<br><br>
<!-- form -->
<div class="container justify-content-center align-items-center">
    <div class="form-wrapper text-center">
        <form #resetPasswordForm="ngForm"
            (ngSubmit)="resetPasswordForm.form.valid && onResetpassword(resetPasswordForm.value)" class="form-signin">
            <h2 class="h3 mb-3 font-weight-normal">Reset Password</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email" email required ngModel
                    #emailInput="ngModel">
                <div *ngIf="resetPasswordForm.submitted && emailInput.invalid">
                    <span class="help-block" style="color: red;" *ngIf="emailInput?.errors.required">Please enter a
                        valid email
                        address.</span>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset
                Password</button>
        </form>
        <small><a routerLink="/login">Have an Account? Log in</a></small>
    </div>
</div>